---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
---
<PageLayout
    h1="Гарантия низкой цены"
    title="Гарантия низкой цены"
    breadcrumb={[{name:"Спецпредложения",href:"/special-offers/"},{name:"Гарантия низкой цены",href:""}]}
>
<p>Правила акции:</p>
<ol>
    <li>
        1. Для подтверждения цены конкурента вы можете использовать:
        <ul>
            <li>• Фото ценника (с актуальной датой на момент приобретения товара);</li>
            <li>• Прайс предложение от компании конкурента (с актуальной датой на момент приобретения товара);</li>
            <li>• Фото страницы интернет-каталога (с актуальной датой на момент приобретения товара);</li>
            <li>• Ссылку на каталог конкурента (с актуальной датой на момент приобретения товара).</li>
        </ul>
    </li>
    <li>
        2. На усмотрение актуального генерального директора ООО "Саратов-Авто-Люкс" 
        скидку можно получить без предъявления подтверждения, описанного в п.1.
    </li>
    <li>
        3. Формула расчета предоставляемой скидки:<br>
        • Сумма скидки = РРЦ<sup>*</sup> - цена конкурента + 50 000 рублей<br><br>
    </li>

    <li>
        4. Акция распространяется только на новые автомобили бренда Geely, Belgee и Knewstar.
    </li>
    <li>
        5. ООО "Саратов-Авто-Люкс" вправе отклонить запрос на скидку без объяснения причин.
    </li>
    <li>
        6. Скидка применима только для физических лиц.
    </li>
</ol>

<small><em>* РРЦ - рекомендованная рыночная цена</em></small><br>
<small>Срок акции: с 01.02.2025 по 01.12.2025</small>


</PageLayout>