---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
---
<PageLayout
    h1="Пожизненная скидка на сервисные услуги"
    title="Пожизненная скидка на сервисные услуги"
    breadcrumb={[{name:"Спецпредложения",href:"/special-offers/"},{name:"Скидка на сервис",href:""}]}
>
<p>Правила акции:</p>
<ol>
    <li>1. Для применения скидки вам необходимо показать специалисту сервиса полученное SMS-сообщение или скриншот SMS-сообщения</li>
    <li>2. Скидка закрепляется за клиентом бессрочно</li>
    <li>3. Скидку можно передать 3-им лицам, путем распространения скриншота с SMS-сообщением</li>
    <li>4. Формула расчета скидки:<br>Скидка = (сумма выполненной работы - сумма затраченная на запасные части)*30%</li>
    <li>5. Скидка распространяется на выполнененые работы только для автомобилей марки Geely и Belgee</li>
    <li>5. Скидка распространяется на регламентные работы пакета ТО<sup>*</sup>, Geely и Belgee соответственно</li>
</ol>
<small>
    <em>* ТО - Техническое Обслуживание</em>
</small>

</PageLayout>