---
import PageLayout from '@/layouts/PageLayout.astro';
import {SITE_NAME, LEGAL_ENTITY, LEGAL_INN, LEGAL_CITY} from '@/const';
---
<PageLayout
    h1="Пожизненная скидка на сервисные услуги"
    title="Пожизненная скидка на сервисные услуги"
    breadcrumb={[{name:"Спецпредложения",href:"/special-offers/"},{name:"Скидка на сервис",href:""}]}
>
<p>Правила акции:</p>
<ol>
    <li>1. Для применения скидки вам необходимо показать специалисту сервиса полученное SMS-сообщение или скриншот SMS-сообщения</li>
    <li>2. Скидка закрепляется за клиентом бессрочно</li>
    <li>3. Скидку можно передать 3-им лицам, путем распространения скриншота с SMS-сообщением</li>
    <li>4. Скидка 30% на работы предоставляется при условии покупки запасных частей и материалов у официального дилера "Партнер-Авто" г. Саратов</li>
    <li>5. Скидка распространяется на выполнененые работы только для автомобилей марки Geely и Belgee</li>
    <li>6. Скидка предоставляется путем уменьшения цены на 30% в графе "Работы" итогового заказ-наряда и акта выполненных работ</li>
</ol>

</PageLayout>